---
import Head from '../components/Head.astro';
import NavigateButton from '../NavigateButton';
import { PUBLIC_URL } from "../constants"

const { title, heroImage, description, slug } = Astro.props;
---

<html lang="en">
	<head>
        <Head />
		<meta
			property="og:image"
			content={heroImage}
		/>
		<meta
			name="twitter:image"
			content={heroImage}
		/>
		<meta property="og:url" content=`${PUBLIC_URL}/blog/${slug}` />
		<meta property="twitter:url" content=`${PUBLIC_URL}/blog/${slug}` />
    	<meta property="og:type" content="article" />
		<meta property="og:title" content={title} />
		<meta name="twitter:title" content={title} />
		<style>
			main {
				padding-top: 1rem;
				max-width: 100%;
				margin: 0 0 0 30px;
			}
            .article {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 .5rem;
            }
			.hero-image img {
				display: block;
				border-radius: 12px;
                max-width: 300px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<NavigateButton route="/blog" left label="Go back to blog" />
		<main>
			<article class="article">
				<div class="hero-image">
					{heroImage && <img src={heroImage} alt={description} />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
